[submodule "modulekit"]
	path = modulekit
	url = https://github.com/plepe/modulekit.git
[submodule "lib/modulekit/form"]
	path = lib/modulekit/form
	url = https://github.com/plepe/modulekit-form.git
[submodule "lib/modulekit/lang"]
	path = lib/modulekit/lang
	url = https://github.com/plepe/modulekit-lang.git
[submodule "lib/modulekit/base"]
	path = lib/modulekit/base
	url = https://github.com/plepe/modulekit-base.git
[submodule "lib/modulekit/PDOext"]
	path = lib/modulekit/PDOext
	url = https://github.com/plepe/PDOext.git
[submodule "lib/modulekit/history"]
	path = lib/modulekit/history
	url = https://github.com/plepe/modulekit-history.git
[submodule "lib/modulekit/adv_exec"]
	path = lib/modulekit/adv_exec
	url = https://github.com/plepe/adv_exec.git
