<html>
  <head>
    <script src="dist/app.js"></script>
    <link rel="stylesheet" href="node_modules/video.js/dist/video-js.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>

Message: {{ message }}

  </body>
<html>
